@page "/classes/{classId}"
@using Echoes.Shared.Models
@inject HttpClient Http

@if (!(Class is null))
{
    <h1>@Class.Name</h1>
     
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="/create-assignment/@ClassId">New Assignment...</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">

            <div class="list-group">
                @foreach (var assignment in Class.Assignments)
                {
                    <a href="/assignments/@assignment.Id" class="list-group-item list-group-item-action">@assignment.Title</a>
                }
            </div>
        </div>
    </div>
}

@functions
{
    [Parameter]
    private string ClassId { get; set; }

    private ClassDto Class { get; set; }

    private AssignmentDto Assignment { get; } = new AssignmentDto();

    protected override async Task OnInitAsync()
    {
        await UpdateClass();
        Assignment.ClassId = int.Parse(ClassId);
    }

    private async Task CreateAssignment()
    {
        await Http.PostJsonAsync("/api/assignments", Assignment);
        await UpdateClass();
    }

    private async Task UpdateClass()
    {
        Class = await Http.GetJsonAsync<ClassDto>("/api/classes/" + ClassId);

    }
}

