@page "/classes"
@inject HttpClient Http
@using Echoes.Shared.Models

<h1>My Classes</h1>

@if (ClassDtos is null)
{
    <p>Loading...</p>
}
else if (!ClassDtos.Any())
{
    <p>No classes yet</p>
}
else
{
    <div class="list-group">
        @foreach (var cls in ClassDtos)
        {
            <a href="#" class="list-group-item list-group-item-action">@cls.Name</a>
        }
    </div>
}

<a class="btn btn-primary" style="margin-top: 20px" href="create-class">Create Class</a>

@functions{

    public IEnumerable<ClassDto> ClassDtos { get; set; }

    protected override async Task OnInitAsync()
    {
        ClassDtos = await Http.GetJsonAsync<IEnumerable<ClassDto>>("/api/classes");
    }
}
