@page "/sign-up"
@using Echoes.Client.Services
@using Echoes.Shared
@using Microsoft.AspNetCore.Blazor.Services
@inject HttpClient Http
@inject IUriHelper UriHelper
@inject LoginService LoginService

<h1>Sign Up</h1>

<form onsubmit="@Submit">
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">@@</div>
        </div>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" bind="@LoginViewModel.Email" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" bind="@LoginViewModel.Password" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

@functions
{

public LoginViewModel LoginViewModel { get; } = new LoginViewModel();

public async Task Submit()
{
    await Http.PostJsonAsync("/api/account", LoginViewModel);
    await LoginService.LoginAsync(LoginViewModel);
    UriHelper.NavigateTo("/");
}
}